# Cấu hình Firebase
FIREBASE_API_KEY=

# Cấu hình Gemini AI
GEMINI_API_KEY=
GEMINI_MODEL=

# Cấu hình Database
DATABASE_URL=sqlite:///./backend/chatbot.db

# Cấu hình URL Backend cho Frontend (dành cho api_client.py)
BACKEND_URL=
