# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db
*.db-journal

# Firebase service account key
serviceAccountKey.json

# Environments
.env
.venv/
venv/
env/

# IDEs and OS specific files
.vscode/
.idea/
.DS_Store